<h1 id="itsybitsy-development-board">ItsyBitsy Development Board</h1>

<p>The central component at the heart of your projects. It runs code, reads and processes sensor data, and controls outputs (lights, motors, speakers, etc.)</p>

<hr />

<p>Your kit includes one of <strong>two functionally equivalent ItsyBitsy Development Boards</strong>, depending on the edition of your Connected Interaction Kit. This page is designed to help you identify which version you own.</p>

<table>
  <thead>
    <tr>
      <th style="text-align: center">2022 &amp; 2024 Edition</th>
      <th style="text-align: center">2023 Edition</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center">ItsyBitsy M4 Express</td>
      <td style="text-align: center">ItsyBitsy RP2040</td>
    </tr>
    <tr>
      <td style="text-align: center"><img src="assets/ItsyBitsy-M4-Express.png" alt="BitsyExpander" width="400" /></td>
      <td style="text-align: center"><img src="assets/ItsyBitsy-RP2040.png" alt="BitsyExpander" width="400" /></td>
    </tr>
    <tr>
      <td style="text-align: center"><a href="itsybitsy-m4-express" class="btn btn-blue">Learn More</a></td>
      <td style="text-align: center"><a href="itsybitsy-rp2040" class="btn btn-blue">Learn More</a></td>
    </tr>
  </tbody>
</table>

<h3 id="which-itsybitsy-development-board-do-i-have">Which ItsyBitsy Development Board do I have?</h3>

<p align="center" style="display: flex; justify-content: center;">
  <img src="assets/recognize_IB_M4.jpg" width="250px" alt="Identify ItsyBitsy M4 Express" style="margin-right: 25px;" />
  <img src="assets/recognize_IB_RP2040.jpg" width="250px" alt="Identify ItsyBitsy RP2040" style="margin-left: 25px;" />
</p>

<p>The <strong>ItsyBitsy M4 Express</strong> features <strong>one (RESET) button</strong>.
The <strong>ItsyBitsy RP2040</strong> features <strong>two (BOOT, RESET) buttons</strong>.</p>
