<h1 id="chainable-led">Chainable LED</h1>

<p><a href="../../glossary/glossary"><img src="../../glossary/assets/output.png" alt="Output" width="72" /></a> <a href="../../glossary/glossary"><img src="../../glossary/assets/digital.png" alt="Digital" width="72" /></a></p>

<p>There are <strong>two different types</strong> of Chainable LED components. Which one you have depends on the edition of the Connected Interaction Kit you own. Choose the version that looks like the component found in your kit in the table below for more information.</p>

<table>
  <thead>
    <tr>
      <th style="text-align: center">Chainable RGB/W LED (ChaiNEO)</th>
      <th style="text-align: center">Chainable RGB LED (Grove)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center"><img src="assets/ChaiNEO-RGBW.png" alt="Chainable RGB LED" width="250" /></td>
      <td style="text-align: center"><img src="assets/Grove-Chainable-LED-2.0.png" alt="Chainable RGB LED" width="250" /></td>
    </tr>
    <tr>
      <td style="text-align: center"><a href="../../glossary/glossary"><img src="../../glossary/assets/output.png" alt="Output" width="72" /></a> <a href="../../glossary/glossary"><img src="../../glossary/assets/digital.png" alt="Digital" width="72" /></a></td>
      <td style="text-align: center"><a href="../../glossary/glossary"><img src="../../glossary/assets/output.png" alt="Output" width="72" /></a> <a href="../../glossary/glossary"><img src="../../glossary/assets/digital.png" alt="Digital" width="72" /></a> <a href="../../glossary/glossary"><img src="../../glossary/assets/2wire.png" alt="Two Wire" width="72" /></a></td>
    </tr>
    <tr>
      <td style="text-align: center"><a href="chainable-led-chaineo" class="btn btn-blue">Learn More</a></td>
      <td style="text-align: center"><a href="chainable-led-p9813" class="btn btn-blue">Learn More</a></td>
    </tr>
  </tbody>
</table>

<p class="important"><strong>While both components fulfill the same purpose, they rely on different communication protocols and are thus not interoperable. A chain must consist only of components of one type; they can not be mixed.</strong> However, you can use both types simultaneously as long as you set them up on different pins and follow the tutorials referenced above for each type.</p>
