<h2 id="custom-components">Custom Components</h2>

<table>
  <thead>
    <tr>
      <th style="text-align: center">Potentiometer</th>
      <th style="text-align: center">Tactile Switch</th>
      <th style="text-align: center">Tilt Switch</th>
      <th style="text-align: center">Thermistor</th>
      <th style="text-align: center">Photoresistor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center">Position/Angle</td>
      <td style="text-align: center">Push</td>
      <td style="text-align: center">Tilt</td>
      <td style="text-align: center">Temperature</td>
      <td style="text-align: center">Brightness</td>
    </tr>
    <tr>
      <td style="text-align: center"><img src="rotary-potentiometer/assets/custom-rotation-pot-centered.png" alt="Custom Potentiometer" /></td>
      <td style="text-align: center"><img src="tactile-switch/assets/custom-tactile-switch-centered.png" alt="Tactile Switch" /></td>
      <td style="text-align: center"><img src="tilt-switch/assets/custom-tilt-switch-centered.png" alt="Tilt Switch" /></td>
      <td style="text-align: center"><img src="thermistor/assets/custom-temperature-sensor-centered.png" alt="Temperature Sensor" /></td>
      <td style="text-align: center"><img src="photoresistor/assets/custom-photo-resistor-centered.png" alt="Photoresistor" /></td>
    </tr>
    <tr>
      <td style="text-align: center"><a href="../glossary/glossary"><img src="../glossary/assets/input.png" alt="Input" width="57" /></a> <a href="../glossary/glossary"><img src="../glossary/assets/analog.png" alt="Analog" width="57" /></a></td>
      <td style="text-align: center"><a href="../glossary/glossary"><img src="../glossary/assets/input.png" alt="Input" width="57" /></a> <a href="../glossary/glossary"><img src="../glossary/assets/digital.png" alt="Digital" width="57" /></a></td>
      <td style="text-align: center"><a href="../glossary/glossary"><img src="../glossary/assets/input.png" alt="Input" width="57" /></a> <a href="../glossary/glossary"><img src="../glossary/assets/digital.png" alt="Digital" width="57" /></a></td>
      <td style="text-align: center"><a href="../glossary/glossary"><img src="../glossary/assets/input.png" alt="Input" width="57" /></a> <a href="../glossary/glossary"><img src="../glossary/assets/analog.png" alt="Analog" width="57" /></a></td>
      <td style="text-align: center"><a href="../glossary/glossary"><img src="../glossary/assets/input.png" alt="Input" width="57" /></a> <a href="../glossary/glossary"><img src="../glossary/assets/analog.png" alt="Analog" width="57" /></a></td>
    </tr>
    <tr>
      <td style="text-align: center"><a href="rotary-potentiometer/rotary-potentiometer" class="btn btn-blue">Learn More</a></td>
      <td style="text-align: center"><a href="tactile-switch/tactile-switch" class="btn btn-blue">Learn More</a></td>
      <td style="text-align: center"><a href="tilt-switch/tilt-switch" class="btn btn-blue">Learn More</a></td>
      <td style="text-align: center"><a href="thermistor/thermistor" class="btn btn-blue">Learn More</a></td>
      <td style="text-align: center"><a href="photoresistor/photoresistor" class="btn btn-blue">Learn More</a></td>
    </tr>
  </tbody>
</table>

