<h2 id="solderless-grove-components">Solderless Grove Components</h2>

<table>
  <thead>
    <tr>
      <th style="text-align: center">Touch Sensor</th>
      <th style="text-align: center">Vibration Motor</th>
      <th style="text-align: center">Piezo Buzzer</th>
      <th style="text-align: center">Sound Sensor</th>
      <th style="text-align: center">Servo Motor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: center">Capacitive Touch</td>
      <td style="text-align: center">Haptics &amp; Touch</td>
      <td style="text-align: center">Sound</td>
      <td style="text-align: center">Sound</td>
      <td style="text-align: center">Motion</td>
    </tr>
    <tr>
      <td style="text-align: center"><img src="touch-sensor/assets/Grove-Touch-Sensor.png" alt="Touch Sensor" /></td>
      <td style="text-align: center"><img src="vibration-motor/assets/Grove-Vibration-Motor.png" alt="Vibration Motor" /></td>
      <td style="text-align: center"><img src="piezo-buzzer/assets/Grove-Piezo-Buzzer.png" alt="Piezo Buzzer" /></td>
      <td style="text-align: center"><img src="sound-sensor/assets/Grove-Sound-Sensor.png" alt="Sound Sensor" /></td>
      <td style="text-align: center"><img src="servo-motor/assets/Grove-Servo.png" alt="Servo Motor" /></td>
    </tr>
    <tr>
      <td style="text-align: center"><a href="../glossary/glossary"><img src="../glossary/assets/input.png" alt="Input" width="57" /></a> <a href="../glossary/glossary"><img src="../glossary/assets/digital.png" alt="Digital" width="57" /></a></td>
      <td style="text-align: center"><a href="../glossary/glossary"><img src="../glossary/assets/output.png" alt="Output" width="57" /></a> <a href="../glossary/glossary"><img src="../glossary/assets/pwm.png" alt="PWM" width="57" /></a></td>
      <td style="text-align: center"><a href="../glossary/glossary"><img src="../glossary/assets/output.png" alt="Output" width="57" /></a> <a href="../glossary/glossary"><img src="../glossary/assets/pwm.png" alt="PWM" width="57" /></a></td>
      <td style="text-align: center"><a href="../glossary/glossary"><img src="../glossary/assets/input.png" alt="Input" width="57" /></a> <a href="../glossary/glossary"><img src="../glossary/assets/analog.png" alt="Analog" width="57" /></a></td>
      <td style="text-align: center"><a href="../glossary/glossary"><img src="../glossary/assets/output.png" alt="Output" width="57" /></a> <a href="../glossary/glossary"><img src="../glossary/assets/pwm.png" alt="PWM" width="57" /></a></td>
    </tr>
    <tr>
      <td style="text-align: center"><a href="touch-sensor/touch-sensor" class="btn btn-blue">Learn More</a></td>
      <td style="text-align: center"><a href="vibration-motor/vibration-motor" class="btn btn-blue">Learn More</a></td>
      <td style="text-align: center"><a href="piezo-buzzer/piezo-buzzer" class="btn btn-blue">Learn More</a></td>
      <td style="text-align: center"><a href="sound-sensor/sound-sensor" class="btn btn-blue">Learn More</a></td>
      <td style="text-align: center"><a href="servo-motor/servo-motor" class="btn btn-blue">Learn More</a></td>
    </tr>
  </tbody>
</table>

<table>
<thead>
  <tr>
    <th align="center" colspan="2">Time of Flight Sensor<br /></th>
    <th align="center" colspan="2">Chainable LED</th>
    <th align="center">LED Pack</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td align="center" colspan="2">Distance</td>
    <td align="center">RGB/W Light</td>
    <td align="center">RGB Light</td>
    <td align="center">Monochrome LED</td>
  </tr>
  <tr>
    <td align="center"><img src="time-of-flight-distance-sensor/assets/ToF_v1_VL53L0X.png" alt="Time of Flight Sensor Version 1" /></td>
    <td align="center"><img src="time-of-flight-distance-sensor/assets/ToF_v2_VL53L0X.png" alt="Time of Flight Sensor Version 2" /></td>
    <td align="center"><img src="chainable-led/assets/ChaiNEO-RGBW.png" alt="ChaiNEO RGB/W LED" /></td>
    <td align="center"><img src="chainable-led/assets/Grove-Chainable-LED-2.0.png" alt="Grove Chainable LED" /></td>
    <td align="center"><img src="led-pack/assets/Grove-LED-pack.png" alt="LED Pack" /></td>
  </tr>
  <tr>
    <td align="center" colspan="2"><a href="../glossary/glossary"><img src="../glossary/assets/input.png" alt="Input" width="57" /></a> <a href="../glossary/glossary"><img src="../glossary/assets/iic.png" alt="I2C" width="57" /></a></td>
    <td align="center" colspan="2"><a href="../glossary/glossary"><img src="../glossary/assets/output.png" alt="Output" width="57" /></a> <a href="../glossary/glossary"><img src="../glossary/assets/digital.png" alt="Digital" width="57" /></a></td>
    <td align="center"><a href="../glossary/glossary"><img src="../glossary/assets/output.png" alt="Output" width="57" /></a> <a href="../glossary/glossary"><img src="../glossary/assets/digital.png" alt="Digital" width="57" /></a></td>
  </tr>
  <tr>
    <td align="center" colspan="2"><a href="time-of-flight-distance-sensor/time-of-flight-distance-sensor" class="btn btn-blue">Learn More</a></td>
    <td align="center"><a href="chainable-led/chainable-led-chaineo" class="btn btn-blue">Learn More</a></td>
    <td align="center"><a href="chainable-led/chainable-led-p9813" class="btn btn-blue">Learn More</a></td>
    <td align="center"><a href="led-pack/led-pack" class="btn btn-blue">Learn More</a></td>
  </tr>
</tbody>
</table>

